.membership {
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.membership--text {
	font-size: 1.25rem;
	font-weight: 200;
}

.membership--form {
	display: flex;
	justify-content: center;
}

.membership--input {
	padding: 1.5rem 1rem;

	font-size: 1rem;
	font-weight: 200;
}

.membership--button {
	font-size: 1.75rem;
}

@media screen and (max-width: 1450px) {
	.membership {
		margin: auto;
	}

	.membership--input {
		padding: 1.25rem 1rem;
	}
}

@media screen and (max-width: 950px) {
	.membership {
		width: 60%;
		margin: auto;
	}

	.membership--form {
		flex-direction: column;
		gap: 1rem;
	}

	.membership--button {
		align-self: center;

		font-size: 1rem;
	}
}

@media screen and (max-width: 750px) {
	.membership {
		width: 80%;
	}

	.membership--input {
		padding: 0.75rem;
	}
}

@media screen and (max-width: 550px) {
	.membership {
		width: 90%;
	}
}
