.error {
	color: var(--white);

	max-width: 100vw;
	min-height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.error--container h1 {
	font-size: 3.5rem;
	font-weight: 700;
}
